/* 0.85 */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


/* font-classes */
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
    font-size: 3.82rem;
}

/* common styles */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    max-width: 1600px;
    margin: 0 auto;
}

.font-1{
    font-size: 3.82rem;
    font-weight: 900;
    line-height: 4.83rem;
    letter-spacing: 0%;
    /* 72px */
}

.font-2{
    font-size: 1.28rem;
    font-weight: 500;
    color: rgb(250,0,0);
    font-family: "Inter";
    /* 24px */
}

.font-3{
    font-size: 1.07rem;
    /* 20px */
    font-weight: 400;
    line-height: 1.7rem;
}

.font-4 {
    font-size: 1.28rem;
    font-weight: 500;
    color: rgb(7, 2, 12);
    line-height: 1.54rem;
    /* 24px */
}

.font-5{
    font-size: 2.85rem;
    font-weight: 900;
    /* 48px */
}

.font-6{
    color: rgb(7, 2, 17);
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 2.97rem;
    letter-spacing: 0%;
}

.btn-txt{
    font-size: 1.07rem;
    font-weight: 700;
    padding: 1rem;
    border: none;
    color: white;
}

.new-year, .off, .party, .event, .coming-soon, .holiday{
    padding: 2rem 7.43rem 4rem;
 }

img{
    width: 100%;
    height: 100%;
    object-fit: cover;  
}


.center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.center-2{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* new year styles */

.content-year {
    width: 100%;
    height: 31.87rem;
    background-image: linear-gradient(180deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url("images/Banner Image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    
}

#new-year{
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 2.12rem;
}

#party-clbrtn{
    color: rgb(255, 255, 255);
        line-height: 5rem;
        letter-spacing: 0%;
        text-align: center;
}

/* off styles */
#off{
color: rgb(255, 0, 0);
    font-family: "Inter";
    font-size: 4.67rem;
    font-weight: 700;
    line-height: 5.68rem;
    letter-spacing: 0%;

}

#holiday{
    line-height: 1.54rem;
    letter-spacing: 0%;
    margin-top: 2.60rem;
}

#all-cat{
    color: rgb(7, 2, 17);
        font-size: 2.55rem;
        font-weight: 700;
        line-height: 3.08rem;
        letter-spacing: 0%;
        margin-bottom: 2.49rem;
        margin-top: .7rem;
}

.ny-img-container{

}


/* midnight party styles */

.party-bg {
    width: 100%;
    height: 31.87rem;
    background-image: linear-gradient(90.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url("images/Vectorrr.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    gap: 4rem;
   
}

.party-content{
    padding-left: 6.69rem;
    width: 70%;
 
}

#mid-party{
    color: rgb(255, 255, 255);
        font-size: 3.4rem;
        font-weight: 900;
        line-height: 4.67rem;
        letter-spacing: 6px;
}

#party-des{
    color: rgba(255, 255, 255, 0.8);
        font-size: 0.95rem;
        font-weight: 400;
        line-height: 1.59rem;
        margin: 2rem 0;
}

#join-btn{
    background: transparent;
    color: white;
    border: none;
}


.party-img{

    width: 30%;
    height: auto;
    margin-right: 7.33rem;
}

/* event styles */
.event-content{
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
}

#hotel{
    margin-top: 5.31rem;
}

#join-btn2{
    background: rgb(255, 0, 0);
    border-radius: 8px;
    margin-top: 2.55rem;
}

.evnt-dtls{
    color: rgb(255, 0, 0);
}

/* coming soon styles */

.coming-soon{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5rem;
}

#cs-h1{
    margin: 1.55rem 0;
    line-height: 3.18rem;
}

.pt-1{
    padding-top: 5.52rem;
}

#year{
    color: rgb(255, 0, 0);
        font-size: 2.55rem;
        font-weight: 700;
        line-height: 3.08rem;
        letter-spacing: 0%;
}

#year-des{
    line-height: 1.7rem;
    margin: 2rem 0;
}

.cs-content3 img{
         width: 7.43rem;
         height: 7.43rem;
}

.cs-content2 img{
    width: 19.39rem;
    height: 19.39rem;
    border: 15px solid red;
    padding: 1.5rem;
    border-radius: 200px;
}



/* Holiday Styles */

.holiday-content{
    margin-bottom: 25rem;
}

.holiday-img{
    position: relative;
}

.holi-img-1 {
    width: auto;
    height: 30.70rem;
    object-fit: cover;
    position: absolute;
    bottom: 1.57rem;
}


.holi-img-2{
    width: 16.25rem;
    height: 16.25rem;
    object-fit: contain;
    position: absolute;
    left: 43rem;
    top: -17rem;
    
}

#holiday-msg{
    padding: 0 6.69rem;
}







/* responsive for medium device */
@media screen and (min-width:576px) and (max-width:992px) {
    /* common styles  */
    .new-year,.off, .party, .event, .coming-soon, .holiday {
        padding: 1.5rem 4rem 1rem;
    }
}

@media screen and (min-width:576px) and (max-width:992px){
   
    .pt-1{
            padding-top: 0px;
        }
    .party-img img{
        display: none;
    }
/* coming soon styles */
    .coming-soon {
            grid-template-columns: repeat(2, 1fr);
           column-gap: 3rem;
        }
        
    .cs-content2 img {
     width: 16.39rem;
     height: 16.39rem;
     border: 12px solid red;
     padding: 1.5rem;
     border-radius: 200px;
  
 }
 .cs-content2{
    padding-top: 3rem;
 }

 .cs-content3 {
     display: grid;
    grid-column: 1 / span 2;
    align-items: center;
    justify-items: center;                      
 }

 .cs-content3 .content {
     order: 2;
 }

 .cs-content3 img {
     order: 1;
 }
#year-des{
    margin: 0rem;
}
/* holiday styles */

#holiday-msg {
    padding: 0 2.69rem;
}

.holi-img-1 {
    width: auto;
    height: 18.70rem;
    bottom: 2.57rem;
}


.holi-img-2 {
    width: 14.25rem;
    height: 14.25rem;
    left: 27rem;
    top: -15rem;
}

.holiday-content {
    margin-bottom: 17rem;
}

}

@media screen and (min-width:1024px) and (max-width:1030px) {
    .holi-img-2 {
            left: 33rem;
        }
}












/* responsive for small device */
@media screen and (max-width:576px) {
     /* common styles */
    .new-year, .off, .party, .event, .coming-soon, .holiday {
            padding: 1rem 1.06rem 1.5rem;
        }
    
        /* new year styles */
    .content-year {
             height: 18rem;
         }
     #new-year {
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.12rem;
        }
    
    #party-clbrtn {
        font-size: 2rem;
        line-height: 3rem;
        }
}

/* midnight-party styles */

@media screen and (max-width:576px) {
    .party-bg {
            flex-direction: column-reverse;
        }
    .party-content{
        padding-left: 1rem;
    }    

    #mid-party {
        
            font-size: 1.8rem;
            font-weight: 800;
            line-height: 2.67rem;
            letter-spacing: 3px;
        }
    #party-des {
        font-size: 0.75rem;
        font-weight: 300;
        line-height: 1em;
        margin: .80rem 0;
    }

    .party-bg{
        gap: 2rem;
        align-items: center;
    }

    
}

/* event style */
@media screen and (max-width:576px) {
    .event-content p{
        padding: 0 2rem;
        font-size: 1rem;
        text-align: left;
    }

    #join-btn2{
        padding: .7rem;
        font-size: .7rem;
    }
}


@media screen and (max-width:576px) {
    /* coming soon styles */
    .coming-soon{
        grid-template-columns: repeat(1,1fr);
        height: auto;
        }
    .pt-1{
        padding-top: 0rem;
    }    
         

    .cs-content2 {
        display: flex;
        justify-content: center;
        align-items: center;
        
        }

    .cs-content2 img {
        width: 16.39rem;
        height: 16.39rem;
        border: 8px solid red;
        padding: 1rem;
        border-radius: 200px;
        }

    .cs-content3{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    #year{
        display: flex;
        justify-content: center;
        margin: 1.5rem 0rem;
    }
  /* holiday styles */
    #holiday-msg {
      padding: 0rem;
  }

  .holi-img-1 {
      width: 12.85rem;
      height: auto;
      bottom: 1.57rem;
  }


  .holi-img-2 {
      width: 8.25rem;
      height: 8.25rem;
     left: 13rem;
     top: -8rem;
  }

  .holiday-content {
      margin-bottom: 10rem;
  }
}