/* 0.47 */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Work Sans";
}

.container {
    display: flex;
    width: 100%;
}

.img-container,
.content-container {
    width: 50%;
    height: 400px;


}

.img-container img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.content-container {
   text-align: center;
}

h1{
    color: rgb(16, 16, 16);
        font-size: 23px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0%;
        text-align: center;
        margin-top: 80px;
}

#text1{
    color: rgb(16, 16, 16);
        font-size: 11px;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: 0%;
        opacity: 0.6;
        margin-top: 15px;
}

#border{
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 30px;
    padding: 14px 5px 14px 5px;
}

#text2{
    color: rgb(16, 16, 16);
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0%;
    opacity: 0.7;
}

.social-box{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;

}


.fb{
    position: relative;
    display: inline-block;
}

.background-img {
    display: block;
}

.foreground-img {
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pinterest {
    position: relative;
    display: inline-block;
}

.background-img2 {
    display: block;
}

.foreground-img2 {
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}